.casa-respiro-azul {
  & * {
    margin: 0;
  }

  & .grid {
    display: grid;
  }

  & .grid-50 {
    grid-template-columns: 70% 30%;
    gap: 30px;
    margin: auto;
    width: 80%;
    text-align: justify;

  }

  & .contenido-izquierda {
    padding: 10px;
    padding-top: 10px;

  }

  & .contenido-derecha {
    margin: auto;
  }

  & .foto-derecha {
    height: auto;
    border-radius: 25px;
    margin-top: 225px;
  }

  & .texto p {
    background-color: rgba(12, 109, 112, 0.13);
    width: 80%;
    font-size: 18px;
    border-left: 4px solid orange;
    margin: auto;
    padding: 30px;

  }

  & h1 {
    padding-top: 50px;
    text-align: left;
    margin: auto;
    font-family: 'OpenSansItalic';
    font-size: 45px;
  }

  & h2 {
    font-family: 'OpenSansItalic';
    text-align: left;
    font-size: 60px;
    margin-bottom: 40px;
    margin-top: 40px;

  }

  & h3 {
    margin-top: 15px;
  }

  & p {
    font-family: 'OpenSansItalic';
    margin-bottom: 20px;
    font-size: 20px;
    color: black;
  }

  & ul {
    list-style-type: none;
    padding: 0px 20px;
    margin: 0;
    text-align: left;
    font-size: 18px;

  }

  & li {
    margin-bottom: 15px;
  }

  img {
    border-style: none;
    vertical-align: top;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
  }

  & span img {
    border-style: none;
    vertical-align: top;
    max-width: 100%;
    height: 44px;
  }

  & span {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

.que-ofrecemos {
  background-color: #31484a;
  color: white;

  & .contenedor {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 75%;
    margin: auto;
    padding: 70px 0px;
    text-align: center;
    gap: 40px;
  }

  & .izquierda {}

  &.derecha {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    padding-top: 45px;

  }

  & p {
    text-align: left;
    color: white;
    padding: 40px 0px;
  }

  & .frase {
    padding: 10px;

    & h2 {
      margin-bottom: 50px;
      color: white;
      font-size: 56px;
      text-align: center;
    }
  }

}

.donde-se-realiza {


  & .contenedor-2 {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 75%;
    background-color: rgb(43, 0, 122);
    margin: auto;
    padding: 30px;
    text-align: center;
    gap: 40px;
  }

  & .izquierda {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    padding-top: 45px;
  }

  &.derecha {
    

  }

  & p {
    text-align: left;
    color: white;
    padding: 40px 0px;
  }

  & .frase {
    padding: 10px;

    & h2 {
      margin-bottom: 50px;
      color: rgb(211, 32, 32);
      font-size: 56px;
      text-align: center;
    }
  }

}