h1{
    text-align: center;
    font-family: var(--fuente-titulo);
}
#subtituloContacto{
    text-align: center;
}
#contenedorContacto{
    background-color: var(--azul-oscuro);
    color: white;
    font-family: "Mont";
}
#contenedorContacto strong{
    color: var(--col-principal);
    
}