#contenedorContacto{
    background-color: var(--azul-oscuro);
    color: white;
    font-family: "Montserrat";
& h1{
    text-align: center;
    font-family: var(--fuente-titulo);
}
& p{
    font-family:"Montserrat" ;
}
#subtituloContacto{
    text-align: center;
}

& strong{
    color: var(--col-principal);
    
}

& #contenedorForm{ 
    width: 100%;
    text-align: center;
}

& form{
    color: white;
    width: 55%;
    border: 1px solid black;
    margin: auto;
    
}

& .grid{
    display: grid;
}
& .grid6{
    grid-template-rows: auto;
}
& .grid50{
    grid-template-columns: 50% 50%;
}

& .filas{
    margin: 15px;
}

}