#contenedorContacto{
    background-color: var(--azul-oscuro);
    color: white;
    font-family: "Montserrat";
    padding: 50px;
& h1{
    text-align: center;
    font-family: var(--fuente-titulo);
    margin: 25px;
}

& #subtituloContacto{
    margin: 25px;
}

& p{
    font-family: var(--fuente-texto);
}
#subtituloContacto{
    text-align: center;
}


& #contenedorForm{ 
    width: 100%;
    text-align: center;
    padding-bottom: 35px
}

& form{
    color: white;
        width: 40%;
        border: 1px solid white;
        margin: auto;
        height: 350px;
    
}

& .grid{
    display: grid;
}
& .grid6{
    grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
}
& .grid50{
    grid-template-columns: 50% 50%;
}

& .filas{
    margin: 26px;
}

& #botonEnviarForm{
    bottom: 0px;
}

& .amarillo{
    color: var(--naranja);
}
& .amarilloFondo{
    background-color: var(--naranja);

}
& #checkbox1 , #checkbox2{
    height: 22px;
}

& label{
    font-family: var(--fuente-texto);
}
}
