.footer-entero {
    & * {
        background-color: var(--naranja);

    }

    & h3 {
        margin-bottom: 40px;
        font-weight: 600;
    }

    & .img {
        max-width: 100%;
    }

    & .iconos {
        height: 50px;
        margin-right: 20px;
        border-radius: 30px
    }

    & .logo {
        width: 500px;
    }

    & .grid-33 {
        display: grid;
        grid-template-columns: 33.33%, 33.33%, 33.33%;
        color: white;
        padding: 30px 50px;
        display: flex;
        align-items: flex-start;
        font-family: Arial, sans-serif;
        gap: 120px;
        width: 100%;
    }

    & .div-logo {
        text-align: center;
    }

    & .grid-33-links {
        color: white;
        display: flex;
        font-family: Arial, sans-serif;
        gap: 50px;
        margin-top: 40px;
    }
    & .links{
        margin-top: 12px;
        font-family: var(--fuente-texto);
        
    }

    & .creado-por {
        background-color: #ff9500;
        
        text-align: center;
        

        & p{
            margin: 0;
            font-size: 18px;
        }

    }
    & .quien{
        margin-left: 100px;
        text-align: left;
    }
    & .redes-sociales{
        margin-top: 40px;
    }
    & h4{
        font-weight: 600;
    }


}