.formacion {
    & * {
        font-family: 'OpenSansItalic';
        /* La fuente afecta a toda la pagina, hay que cambiarlo */
        text-align: center;
        margin: 0;
        padding: 0;
    }

    & .contenedor-formacion {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
    }

    & .titulo {
        & h2 {
            font-size: 54px;
            color: #333;
        }

        & img {
            width: 400px;
        }
    }

    & .texto {
        & p {
            font-family: var(--fuente-texto);
            font-size: 18px;
            color: #555;
            margin: 20px 0;
            margin-bottom: 50px;
        }
    }

    & .boton {
        display: inline-block;
        padding: 10px 20px;
        background-color: var(--naranja);
        color: white;
        text-decoration: none;
        font-size: 1em;
        border-radius: 5px;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: #a96e58;
        }
    }

    & strong {
        font-family: 'Montserrat';
        color: black;
    }
}

.metodologia {
    background-color: #31484a;

    &.grid {
        display: grid;
    }

    & .grid-40 {
        grid-template-columns: 40% 60%;
        width: 80%;
        margin: auto;
        padding: 40px 40px;
    }

    & img {
        max-width: 100%;
    }

    & .derecha {
        & p {
            font-family: var(--fuente-texto);
            font-size: 18px;
            color: white;
        }

        & h2 {
            margin-bottom: 50px;
            color: white;
            font-size: 45px;
        }
    }

    & .bosque-verde {
        height: 500px;
        border-radius: 10px;
        margin-top: 65px;
    }

    & .contenido-arriba {
        padding: 10px;
        text-align: center;
        margin: auto;
        margin-top: 40px;

        & h2 {
            margin-bottom: 50px;
            color: white;
            font-size: 56px;
        }
    }

    & strong {
        
            font-family: 'Montserrat';
            font-weight:600;
            color: white;
        
    }
}

#algunas-formaciones {
    background-color: var(--col-principal);

    & img {
        max-width: 100%;
    }

    & .titulo {
        & h2 {
            font-size: 54px;
            color: #333;
            margin-bottom: 50px;
            padding-top: 50px;
        }
    }

    & .cuadrados {
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        width: 67%;
        margin: auto;
        padding: 30px 40px;
        gap: 40px;
    }

    & .cuidado-colectivo,
    & .formacion-experiencial-cuidado,
    & .autocuidados-equipos,
    & .atencion-psicosocial,
    & .facilitacion,
    & .difusion,
    & .respiro {
        background-image: url("/medios/Fotografías e ilustraciones/cuadrado-formacion.png");
        background-size: cover;
        padding: 40px;
        border-radius: 15px;
        position: relative;
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;

        &:hover {
            transform: scale(1.05); /* Aumenta el tamaño al pasar el ratón */
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3); /* Sombra suave */
            opacity: 0.9; /* Hace que se vea ligeramente translúcido */
        }
    }

    & .ciudad {
        padding: 40px 0;
        border-bottom: 2px solid rgb(252, 254, 255);
        width: 90%;
        margin-bottom: 40px;
    }

    & h3,
    & h4 {
        text-align: left;
        color: white;
    }

    & p {
        font-family: var(--fuente-texto);
        text-align: left;
        width: 80%;
        color: white;
    }
    & .contenedor-respiro{
        width: 70%;
        margin: auto;
        padding-bottom: 30px;
        padding-left: 60px;
        
    }
    & .respiro{
        margin: auto;
                
    }
}


/* :root{
    --fuente-logo: 'Rametto';
    --fuente-titulo: 'OpenSansBold';
    --fuente-texto: 'Montserrat';
    
    --col-principal: #81c3c9;
    --negro: #000000;
    --azul-oscuro: #31484a;
    --blanco: #FFFFFF;
    --marron: #746960;
    --gris: #7b888a;
    --naranja: #c99f81;
    
    } */