
.grid{
    display: grid;
}
.grid20-80{
    grid-template-columns: 20% 80%;
}
.fondo{
    background-image: url(/);
}
.logo{
    width: 150px;
}
.grid33{
    grid-template-columns: 33% 33% 33%;
}
.menu{
    align-items: center;
    text-align: center;
}
