
.grid{
    display: grid;
}
.grid20-80{
    grid-template-columns: 20% 80%;
}
.logo{
    width: 100px;
}
.grid25{
    grid-template-columns: 25% 25% 25% 25%;
}
.menu{
    align-items: center;
    text-align: center;
}

header{
    z-index: 10;
    position: absolute;
    top: 0;
    background-color: rgba(160, 158, 158, 0.3);
}

a{
    text-decoration: none;
    color: white;
    font-size: larger;
}

*{
    font-family: "Rametto";
    color: white;
}