.inicio{
   & .grid{
        display: grid;
    }
     & .grid-50{
        grid-template-columns: 50% 50%;
        gap: 20px;
      }
      
      & .contenido-izquierda,
      .contenido-derecha {
        padding: 10px; 
        width: 70%;
        text-align: center;
        margin: auto;
        margin-top: none;
      }
      & .imagen-bosque{
        max-width: 100%;
        height: 70%;

      }
      h1{
        margin-bottom: 40px;
      }
      h2{
        margin-bottom: 40px;
      }
      

    }