.mision {
  & .div-mision {
    background-color: #31484a;
    overflow-x: hidden;
  }

  & .contenido-arriba {
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
  }

  & h2 {
    color: white;
    font-family: 'OpenSansItalic';
    font-size: 45px;
    margin-bottom: 60px;
    margin-top: 40px;

  }
  & h3{
    margin-top: 15px;
  }

  & .grid-20 {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    gap: 20px;
    width: 80%;
    margin: auto;
  }

  & .mision-defenred, 
  & .vision-defenred, 
  & .valores-defenred {
      background-color: #81c3c9;
      text-align: center;
      width: 80%;
      transition: all 0.3s ease; /* Transición suave para todo */
      border-radius: 25px;
  }
  
  & .mision-defenred:hover, 
  & .vision-defenred:hover, 
  & .valores-defenred:hover {
      background-color: #000; /* Cambia el color de fondo a negro */
      color: #fff; /* Cambia el texto a blanco */
      transform: scale(1.05); /* Aumenta ligeramente el tamaño */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil para dar profundidad */
  }
  
  & .imagen-bosque {
      max-width: 100%;
      margin-bottom: 10px;
      transition: transform 0.3s ease;
      height: 300px;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
  }
  
  & .imagen-bosque:hover {
      filter: grayscale(100%); /* Cambia la imagen a blanco y negro */
  }

  & p {
    font-family: 'OpenSansItalic';
    margin-bottom: 15px;
    font-size: 18px;
    color: black;
    padding: 30px;
}
}