

.inicio {
    & .proyectoDefenred {
        background-color: var(--blanco);
    }

    & .contenido-izquierda,
    .contenido-derecha {
        padding: 10px;
        width: 70%;
        text-align: center;
        margin: auto;

    }

    & .contenido-izquierda {
        padding: 10px;
        width: 75%;
        text-align: center;
        padding-top: 10px;
    }

    & .contenido-derecha {
        padding: 10px;
        width: 75%;
        margin-bottom: 50px;


    }

    & .imagen-bosque {
        max-width: 75%;
        margin-top: 74px;
        margin-bottom: 100px;
        border-radius: 90px;

    }

    & h1 {
        margin-bottom: 40px;
        font-family: 'OpenSansItalic';
        font-size: 60px;
        color: #81c3c9;
    }

    & h2 {
        margin-bottom: 40px;
        font-family: 'OpenSansItalic';
        margin-bottom: 60px;
        color: #31484a;
        font-size: 35px;
    }

    & p {
        margin-bottom: 40px;
        font-family: 'OpenSansItalic';
        margin-bottom: 0px;
        font-size: 18px;
        color: black;
    }

    & strong {
        color: black;
        font-family: 'Montserrat';
        font-weight: 100;
    }

    & .boton-casa {
        padding: 25px;
        background-color: #81c3c9;
        height: 80px;
        width: 280px;
        border-radius: 20px;
        /* text-align: center; */
        /* margin-top: 85px; */
        /* margin-left: 200px; */
        margin: auto;
        margin-top: 50px;
    }

    & .casa-respiro {
        font-size: 21px;
        color: #31484a;
        border: none;
        background:none;

    }
    
}
