 #queHacemos {
     background-color: var(--azul-oscuro);

     & * {
         
         text-align: center;
         margin: 0;
         padding: 0;

         color: white;
     }

     & p {
         font-family: var(--fuente-texto);
         text-align: justify;
     }

     & #contenedorQueHacemos {
         max-width: 70%;
         padding: 50px;
         margin: auto;
         background-color: var(--azul-oscuro);
     }


     & h1 {
         font-size: 54px;
         color: var(--naranja);
         padding-bottom: 50px;
         font-family: "OpenSansItalic";
     }

     & .grid {
         display: grid;
     }

     & .grid50 {
         grid-template-columns: 50% 50%;
         align-items: center;
     }

     & h2 {
         font-size: 36px;

         padding-bottom: 30px;
         font-family: var(--fuente-titulo);
     }

     & h3 {
         padding-bottom: 30px;
     }

     & .naranja {
         color: var(--naranja);

     }

     & #enredados {
         padding-top: 100px;
     }

     & #publicaciones {
         padding-top: 100px;
     }
     & .padding{
        padding: 20px;
     }
     & .imagenQueHacemos{
        width: 70%;
        padding: 5%;
     }
 }