html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Rametto';
    src: url('./medios/Tipografías/Rammetto_One/RammettoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('./medios/Tipografías/Open_Sans/') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('./medios/Tipografías/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./medios/Tipografías/Rammetto_One/RammettoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

:root{
--fuente-logo: 'Rametto';
--fuente-titulo: 'OpenSansBold';
--fuente-texto: 'Montserrat';

--col-principal: #81c3c9;
--negro: #000000;
--azul-oscuro: #31484a;
--blanco: #FFFFFF;
--marron: #746960;
--gris: #7b888a;
--naranja: #c99f81;

}

.imagenBanner{
    width: 100%;
}

.imagenLogo{
    width: 100%;
}
strong{
    font-weight: 100;
}

